<h2 style="color: blue;">Welcome {{emailId}}!</h2>

<div *ngIf="cart;else noItems" class="container">

    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">Product Name</th>
                <th class="bg-info text-white">Price</th>
                <th class="bg-info text-white">Quantity</th>
                <th class="bg-info text-white">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of cart">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>1</td>
                <td>{{product.price}}</td>
            </tr>
            <tr>
                <td colspan="3" align="right"><b>Total</b></td>
                <td><b>₹{{total}}/-</b></td>
            </tr>            
            <tr>
                <td colspan="3"></td>
                <td><button (click)="purchase()" class="btn btn-primary">Purchase</button></td>
            </tr>
        </tbody>
    </table>

</div>

<ng-template #noItems>
    <h2 style="color: red;" align="center">Cart is Empty!!!</h2>
</ng-template>

