<h2 style="color: blue;">Welcome {{emailId}}!</h2>
<h2 style="color: red;" align="center">Products</h2>




<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card" style="width:300px;">
                <img class="card-img-top" [src]=product.imgsrc alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text">Price:₹{{product.price}}/-</p>
                    <p align="right">
                        <button (click)="addToCart(product)" class="btn btn-primary">Add to Cart</button>
                    </p>
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>









    <!-- 
    
    <h2>Card Layout</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width:300px;">
                <img class="card-img-top" src="Images/10001.jpg" alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">Nokia</h4>
                    <p class="card-text">No Cost EMI Applicable</p>
                    <p class="card-text">Price:₹45000.00/-</p>
                    <p align="right">
                        <button class="btn btn-primary">Add to Cart</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width:300px;">
                <img class="card-img-top" src="Images/10002.jpg" alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">Nokia</h4>
                    <p class="card-text">No Cost EMI Applicable</p>
                    <p class="card-text">Price:₹45000.00/-</p>
                    <p align="right">
                        <button class="btn btn-primary">Add to Cart</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width:300px;">
                <img class="card-img-top" src="Images/10003.jpg" alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">Nokia</h4>
                    <p class="card-text">No Cost EMI Applicable</p>
                    <p class="card-text">Price:₹45000.00/-</p>
                    <p align="right">
                        <button class="btn btn-primary">Add to Cart</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
 -->

    <!-- 

    <h2>BootStrap Grid System</h2>

<div class="container">
    <div class="row">
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-01 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-02 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-03 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-04 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-05 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-06 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-07 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-08 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-09 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-10 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-11 </div>
        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-6 col-12"> Col-12 </div>
    </div>
</div>
 -->


