<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    
    <br/>
    <div class="container">
        <h2>Login Form</h2>
    
        <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
            <table>
                <tbody>
                    <tr>                    
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control" type="text" name="emailId" ngModel #emailId="ngModel" required minlength="2" maxlength="30" />
                            </div><br/>
                        </td>
                    </tr>
                    <tr>                    
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control" type="password" name="password" ngModel #password="ngModel" required minlength="2" maxlength="10"/>
                            </div><br/>
                        </td>
                    </tr>
                    <tr>                   
                        <td>
                            <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                            New User? <a routerLink="/register">SignUp</a>

                        </td>
                    </tr>
                    <tr>                   
                        
                    </tr>
                </tbody>
            </table>   
        </form>    
    </div>
    
    
    <div>
        <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter EmailId</div>
        <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
    
        <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Enter Atleast 2 Characters for EmailId</div>
        <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Enter Atleast 2 Characters for Password</div>
    </div>
    