id : {{id}}  <br/>
name: {{name}} <br />
age: {{age}} <br />
<h3><u>Address</u></h3>
StreetNo: {{address.streetNo}}<br/>
City:{{address.city}}<br/>
State:{{address.state}}<br/>
<h3><u>Hobbbies</u></h3> <br>
<ul>
    <li *ngFor = "let hobby of hobbies">{{hobby}}</li>
</ul>