<div>
    <h2 align="center">Registeration Form</h2>
    <form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">
        <table align="center">
            <tbody>
                <tr>
                    <td>Enter EmpName</td>
                    <td><input type="text" name="empName" ngModel/></td>
                </tr>
                <tr>
                    <td>Enter Salary</td>
                    <td><input type="text" name="salary" ngModel/></td>
                </tr>
                <tr>
                    <td>Select Gender</td>
                    <td>
                        <select name="gender" ngModel>
                            <option value="" selected>Select Gender</option>
                            <option value="Male">   Male   </option>
                            <option value="Female"> Female </option>
                            <option value="Others"> Others </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Enter Mobile</td>
                    <td><input type="text" name="mobile" ngModel/></td>
                </tr>
                <tr>
                    <td>Select Country</td>
                    <td>
                       <select name="country" ngModel>
                       <option value="" selected>Select Country</option>
                       <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
                       </select>
                    </td>
                </tr>
                <tr>
                    <td>Enter EmailId</td>
                    <td><input type="text" name="emailId" ngModel/></td>
                </tr>
                <tr>
                    <td>Enter Password</td>
                    <td><input type="password" name="password" ngModel /></td>
                </tr>
                <tr>
                    <td>Select Department</td>
                    <td>
                        <select name="country" ngModel>
                            <option value="" selected>Select Department</option>
                            <option value="10"> IT       </option>
                            <option value="20"> Sales    </option>
                            <option value="30"> Accounts </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button>Register</button></td>
                    Already User? <a routerLink="/login">SignIn</a>

                </tr>
            </tbody>
        </table>   
    </form>    
</div>
