Enter Id; <input type=" text" name="Id"> <br><br>
Enter Name; <input type=" text" name="Name"> <br><br>


<button (click) ="btnSubmit()">Submit</button>
<br/><br/>


id: {{person.id}} <br/> 
name: {{person.name}} <br/>
age: {{person.age}}  <br/><br/>

<u><b><h2>Address</h2></b></u>
streetNo:{{person.address.streetNo}}<br/>
city:{{person.address.city}}<br/>
state:{{person.address.state}}<br/><br/>


<u><b><h2>Hobbies</h2></b></u>
<ul>
    <li *ngFor="let hobby of  person.Hobbies">{{hobby}}</li>
</ul>