

<h2 style="color: blue;">Welcome {{emailId}}!</h2>
<h1 align="center">Show Employees</h1>

<div class="container">
    <table class="table table-sm table-hover table-striped table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">EmpId</th>
                <th class="bg-info text-white">EmpName</th>
                <th class="bg-info text-white">Salary</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">DOJ</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">Mobile</th>
                <th class="bg-info text-white">EmailId</th>
                <th class="bg-info text-white">Experience</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.empId                       }}</td>
                <td>{{emp.empName | gender:emp.gender|uppercase         }}</td>
                <td>{{emp.salary  | currency: 'INR'   }}</td>
                <td>{{emp.gender  | lowercase         }}</td>
                <td>{{emp.doj     | date:'dd-MMM-yyy' }}</td>
                <td>{{emp.country                     }}</td>
                <td>{{emp.mobile                      }}</td>
                <td>{{emp.emailId                     }}</td>
                <td>{{emp.doj     | exp               }}</td>
            </tr>
        </tbody>
    </table>
</div>




