
<!-- <app-test></app-test> -->
<!-- <app-test2></app-test2> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-showemployees></app-showemployees> -->
<!-- <app-showempbyid></app-showempbyid> -->
<!-- node_modules\bootstrap\dist\css\bootstrap.min.css -->
<!-- <app-validations></app-validations> -->
<app-header></app-header>
<marquee><h1 style="color: #545558;">ミツハ、愛してる</h1></marquee>

<router-outlet></router-outlet>
