

<h2 style="color: blue;">Welcome {{emailId}}!</h2>
<div>
    <form #empForm="ngForm" (ngSubmit)="getEmployee(empForm.value)">
        <table align="center">
            <tr>
                <td>Enter EmployeeId</td>
                <td><input type="text" name="empId" ngModel /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><button>Get Employee</button></td>
            </tr>
        </table>
    </form>
</div> <br/>


<div *ngIf="emp;else noEmp">
    <table align="center" border="2">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>DOJ</th>
                <th>Country</th>
                <th>Mobile</th>
                <th>EmailId</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{emp.empId}}</td>
                <td>{{emp.empName}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.doj}}</td>
                <td>{{emp.country}}</td>
                <td>{{emp.mobile}}</td>
                <td>{{emp.emailId}}</td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #noEmp>
    <div class="container" >
        <h1 style="color: red;" align="center">{{msg}}</h1>
    </div>
</ng-template>

